body {
  font-family: helvetica;
}

#blogTitle {
  background-color: grey;
  color: white;
}

nav {
  background-color: grey;
  color: white;
  padding-left: 1em;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
}

h4 {
  background-color: lightgrey;
}

.menu {
  display: inline;
  color: white;
}

footer {
  background-color: lightgrey;
  margin-top: 4%;
}

#authorFilter {
  max-width: 100%;
  display: inline;
}

#catFilter {
  max-width: 100%;
  display: inline;
}

.title {
  background-color: grey;
  color: white;
}

.author {
  background-color: grey;
  color: white;
}

.aboutMe {
  display: none;
}

.nav {
	margin-bottom: 1.8em;
	margin-left: 0em;
  list-style: none;
}

.nav > li > a {
	display: block;
}

.nav-tabs{
	*zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
	display: table;
	content: "";
}

.nav-tabs:after {
	clear: both;
}

.nav-tabs > li {
	float: left;
}

.nav-tabs > li > a {
	padding-right: 1em;
	padding-left: 1em;
	margin-right: .2em;
	line-height: 1.4em;
}

.nav-tabs {
	border-bottom: .1em solid #ddd;
}

.nav-tabs > li {
	margin-bottom: -.1em;
}

.nav-tabs > li > a {
	padding-top: .8em;
	padding-bottom: .8em;
	line-height: 1.8em;
	border: .1em solid transparent;
	-webkit-border-radius: .4em .4em 0em 0em;
	-moz-border-radius: .4em .4em 0em 0em;
	border-radius: .4em .4em 0em 0em;
}

.nav-tabs > li > a:hover {
	border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border: .1em solid #ddd;
  border-bottom-color: transparent;
}

li {
	line-height: 1.8em;
}

.tab-content.active{
	display: block;
}

.tab-content.hide{
	display: none;
}
