body {
  font-family: helvetica;
}

nav {
  background-color: grey;
  color: white;
  padding-left: 1em;
}

img {
  display: block;
  max-width: 100%;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
}

h4 {
  background-color: lightgrey;
}

.menu {
  display: inline;
  color: white;
}

footer {
  background-color: lightgrey;
  margin-top: 4%;
}

#authorFilter {
  max-width: 100%;
  display: inline;
}

#catFilter {
  max-width: 100%;
  display: inline;
}

.title {
  background-color: grey;
  color: white;
}

.author {
  background-color: grey;
  color: white;
}

.aboutMe {
  display: none;
}
